@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <h5 class=" text-white h5 text-center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Välkommen @User.Identity?.Name!
            </h5>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                <button type="submit" class="nav-link logout-btn">
                    <i class='bx bxs-user-x'></i>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item" id="loginBtn">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">
                <i class='bx bxs-user'></i>
                Login
            </a>
        </li>
    }
</ul>