html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bx{
    color: white;
    font-size: 24pt;
}

a{
    text-decoration: none;
}

.tm-nav-item.active .bx{
    color: #0CC;
}

.tm-nav-item:hover .bx {
    color: #0CC;
}

.bxs-bank {
    font-size: 30pt;
}
