body {
    margin-bottom: 60px;
}

.bx {
    color: white;
    font-size: 24pt;
}

a {
    text-decoration: none;
}

.index-data-table{
    text-align: left;
}

.index-data-table td{
    padding: 10px;
}

.tm-nav-item.active .bx {
    color: #0CC;
}

.tm-nav-item:hover .bx {
    color: #0CC;
}

.bxs-bank {
    font-size: 30pt;
}
