@page
@model Bank_AB.Pages.Admin.EditModel
@{
}


<div class="card">
    <div class="card-header">
        <h3>Redigera användare</h3>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Namn: </label>
                <input class="form-control" asp-for="Name" />  
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email: </label>
                <input class="form-control" asp-for="Email" />  
                <span asp-validation-for="Email" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Telefonnummer: </label>
                <input class="form-control" asp-for="PhoneNumber" />  
                <span asp-validation-for="PhoneNumber" class="field-validation-error"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="TwoFA">Tvåfaktorsautentisering: </label>
                <input class="checkbox" asp-for="TwoFA" />  
                <span asp-validation-for="TwoFA" class="field-validation-error"></span>
            </div>
            
            <div class="border-info">
                <div class="form-group">
                    <label asp-for="IsAdmin">Admin: </label>
                    <input class="checkbox" asp-for="IsAdmin" />  
                    <span asp-validation-for="IsAdmin" class="field-validation-error"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IsCashier">Kassör: </label>
                    <input class="checkbox" asp-for="IsCashier" />  
                    <span asp-validation-for="IsCashier" class="field-validation-error"></span>
                </div>
            </div>
            
        </form>
    </div>


</div>